# Default ignored files
/shelf/
/workspace.xml


# Sensitive or high-churn files:
/dataSources.ids
/dataSources.xml
/dataSources.local.xml
/sqlDataSources.xml
/dynamic.xml
/uiDesigner.xml

/libraries

## File-based project format:
*.iws

